$dark-text-color: #383334;
$darkLight-text-color:#2b2828;
$orange-color: #ff6b00;
$light-text-color: #666666;
$green-color: #a8ca3f;
$gray-background-color: #eef2f7;
$yellow-color: #008064;
$black-color: #000;
$coral-color: #e47643;
$dark-green-color: #a8c53a;
$gray-color: #444444;
$orange-border-color: #f4d3bb;
$bright-orange-color: #f64d01;
$light-green-color: #e8edc9;
$white-color: #fff;
$darkLight-text-color:#2b2828;
$old-price-line-color: #ea7845;
